body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #4CAF50;
}

label {
    font-size: 1.2em;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#qrcode {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #4CAF50;
}